<nav class="navbar navbar-expand-md navbar-light bg-light">
    <img src="/images/logo-mercado-libre.svg" class="navbar-brand logo" >
    <!-- Shopping cart-->
    <a href="/cart" class="ml-auto nav-link"><i class="fas fa-shopping-cart"></i></a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item">
          <a class="nav-link" href="/login">Ingresar</a>
        </li>
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      </ul>
    </div>
    
  </nav>