<!DOCTYPE html>
<html>
    <head>
        <title>Mercado Liebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap core CSS -->
        <link href="bootstrap-4.5.0/dist/css/bootstrap.css" rel="stylesheet">
        <!-- Custom Css -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- Icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>
    <body>
        <form action="/form" method="POST">
            <p>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre">
            </p>
            <p>
                <label for="edad">Edad</label>
                <input type="text" name="edad">
            </p> 
            <input type="submit" value="Enviar">

        </form>
    </body>
</html>
